* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

* a{
    cursor: pointer;
}

nav {
    background-color: #fff;
    background-color: #1f1f56;
}

.wrapper {
    margin: 0px 120px 0px 120px;
}

.header_menu_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0px;
}

.socials{
    display: flex;
    align-items: center;
}

.socials a:nth-child(1) {
    padding-right: 25px;
}

.socials a:nth-child(2) {
    padding-right: 25px;
}

.menushka {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menushka a {
    text-decoration: none;
    color: #b1b1d2;
    font-size: 14px;
}

.menushka a:hover {
    color: #fd8300;
}

.header_menu_golovne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    line-height: 20px;
}


.contacts a {
/*     height: 50%; */
    font-size: 18px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.contacts a:first-child {
    margin-bottom: 12px;
}

.contacts a:nth-child(1)::before {
    display: inline-block;
    position: absolute;
    top: 1px;
    content: url(images/phone.png);
    left: -28px;
}

.header_liniya {
    padding-right: 30px;
}

.header_liniya img {
    width: 1px;
    height: 52px;
}

.email {
    width: 15%;
    font-size: 16px;
    color: #25252c;
    padding-bottom: 10px;
}

.email a {
    font-size: 16px;
    color: #25252c;
    text-decoration: none;
}

.email a:first-child {
    font-size: 16px;
    color: #25252c;
    text-decoration: none;
    position: relative;
}
.email a:first-child:hover{
    text-decoration: underline;
}

.email a:first-child::before {
    content: url(images/email.png);
    display: inline-block;
    position: absolute;
    top: 1px;
    left: -28px;
}

.skype a {
    text-decoration: none;
    position: relative;
    padding-top: 20px;
    color: #25252c;
}

div.skype a.sk::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    top: 20px;
    width: 19px;
    height: 19px;
    background-image: url(images/skype.png);
    left: -28px;
}

.header_button a {
    font-size: 16px;
    font-weight: bold;
    color: #25252c;
    border: 2px solid #fd8300;
    padding: 17px 25px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s;
}

.header_button a:hover {
    background-color: #fd8300;
    color: #fff;
}

.prop {
    background-image: url(images/prop_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}

.prop h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto Slab";
    text-align: center;
    padding-bottom: 20px;
}

.prop p {
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    padding-bottom: 16px;
}

.price span {
    font-weight: bold;
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.price:first-child {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.price:last-child {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.prop_content {
    padding-top: 58px;
}

.about {
    padding-top: 45px;
    padding-bottom: 35px;
    box-sizing: content-box;
}

.about p:first-child {
    padding-bottom: 20px;
}

.about h1 {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 30px;
    display: inline-block;
}

.about p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    padding-bottom: 25px;
}

.about a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    text-decoration: none;
}

article {
    text-decoration: none;
}

article:hover {
    text-decoration: underline;
    color: #fd8300;
}

.line {
    border: none;
    border-top: 1px solid #e4e4ec;
    padding-bottom: 32px;
}

.pop_project h3 {
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 30px;
    display: inline-block;
}
.card figure{
    width: 30%;
}
.card figure:hover a{
    text-decoration: underline;
}
figcaption {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 28px;
}

.card img {
    padding-bottom: 20px;
    width: 100%;

}

.card a {
    font-size: 14px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 12px;
}

.info li {
    font-size: 13px;
    color: #9999a6;
    font-family: "Arial";
    padding-bottom: 7px;
    list-style: none;
}

/* .card p {
    padding-top: 10px;
    width: 50%;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
} */

.main {
    padding-bottom: 150px;
}

.main_content_menu {
    min-width: 220px;
    padding-top: 50px;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

aside h3 {
    background-color: #1f1f56;
    padding: 17px 50px 15px 15px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    border-radius: 3px 3px 0px 0px;
}

aside {
    padding-top: 50px;
}

.menu {
    border-radius: 3px;
    cursor: pointer;
}

/* start */
.spysok-action-one .titles-one>.vipadashka-ul {
    display: none;
}

.spysok-action-one .titles-one:hover>.vipadashka-ul {
    display: block;
}



.spysok-action-one>.titles-one P {
    /* задаю стиль заголовку випадашки */
    background-color: #e4e4ec;
    position: relative;
}

.spysok-action-one>.titles-one P::after {
    content: url("images/arrow-spysok.png");
    right: 15px;
    position: absolute;
}

.spysok-action-one>.titles-one:hover>P::after {
    rotate: 90deg;
    filter: brightness(100);
}

.spysok-action-one:hover>.titles-one P

/* .vipadashka-ul>li */
    {
    /* задаю стиль заголовку випадашки ХОВЕР НА ТАЙТЛ */
    background-color: #fd8300;
    color: #fff;
    /* background-color: #b9b9c6; */
}

/* .spysok li:hover {
    display: block;
}  */

.spysok-action-one .titles-one>.vipadashka-ul>li {
    /* стилізація лішок при випаданні */
    list-style: none;
    padding: 20px 0px 20px 30px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
}

.spysok-action-one .titles-one>.vipadashka-ul>li:hover {
    background-color: #b9b9c6;
}


.titles-one {
    background-color: #e4e4ec;
    list-style: none;
    border-bottom: 1px solid #cecedd;
}

.titles-one p {
    padding: 20px 0px 20px 15px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #3a3a3a;
}

/* end */


/* 2start */
.spysok-action-two .titles-two>.vipadashka-ul {
    display: none;
}

.spysok-action-two .titles-two:hover>.vipadashka-ul {
    display: block;
}



.spysok-action-two>.titles-two P {
    background-color: #e4e4ec;
    position: relative;
}

.spysok-action-two>.titles-two P::after {
    content: url("images/arrow-spysok.png");
    right: 15px;
    position: absolute;
}

.spysok-action-two>.titles-two:hover>P::after {
    rotate: 90deg;
    filter: brightness(100);
}

.spysok-action-two:hover>.titles-two P {
    background-color: #fd8300;
    color: #fff;
}

.spysok-action-two .titles-two>.vipadashka-ul>li {
    list-style: none;
    padding: 20px 0px 20px 30px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
}

.spysok-action-two .titles-two>.vipadashka-ul>li:hover {
    background-color: #b9b9c6;
}


.titles-two {
    background-color: #e4e4ec;
    list-style: none;
    border-bottom: 1px solid #cecedd;
}

.titles-two p {
    padding: 20px 0px 20px 15px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #3a3a3a;
}

/* 2end */

/*  3start */

.spysok-action-three .titles-three>.vipadashka-ul {
    display: none;
}

.spysok-action-three .titles-three:hover>.vipadashka-ul {
    display: block;
}


.spysok-action-three>.titles-three P {
    background-color: #e4e4ec;
    position: relative;
}

.spysok-action-three>.titles-three P::after {
    content: url("images/arrow-spysok.png");
    right: 15px;
    position: absolute;
}

.spysok-action-three>.titles-three:hover>P::after {
    rotate: 90deg;
    filter: brightness(100);
}

.spysok-action-three:hover>.titles-three P {
    background-color: #fd8300;
    color: #fff;
}

.spysok-action-three .titles-three>.vipadashka-ul>li {
    list-style: none;
    padding: 20px 0px 20px 30px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
}

.spysok-action-three .titles-three>.vipadashka-ul>li:hover {
    background-color: #b9b9c6;
}


.titles-three {
    background-color: #e4e4ec;
    list-style: none;
    border-bottom: 1px solid #cecedd;
}

.titles-three p {
    padding: 20px 0px 20px 15px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #3a3a3a;
}

/* 3end */

/*  4start */

.spysok-action-four .titles-four>.vipadashka-ul {
    display: none;
}

.spysok-action-four .titles-four:hover>.vipadashka-ul {
    display: block;
}


.spysok-action-four>.titles-four P {
    background-color: #e4e4ec;
    position: relative;
}

.spysok-action-four>.titles-four P::after {
    content: url("images/arrow-spysok.png");
    right: 15px;
    position: absolute;
}

.spysok-action-four>.titles-four:hover>P::after {
    rotate: 90deg;
    filter: brightness(100);
}

.spysok-action-four:hover>.titles-four P {
    background-color: #fd8300;
    color: #fff;
}

.spysok-action-four .titles-four>.vipadashka-ul>li {
    list-style: none;
    padding: 20px 0px 20px 30px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
}

.spysok-action-four .titles-four>.vipadashka-ul>li:hover {
    background-color: #b9b9c6;
}


.titles-four {
    background-color: #e4e4ec;
    list-style: none;
    border-bottom: 1px solid #cecedd;
}

.titles-four p {
    padding: 20px 0px 20px 15px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #3a3a3a;
}

/* 4end */

/*  5start */

.spysok-action-five .titles-five>.vipadashka-ul {
    display: none;
}

.spysok-action-five .titles-five:hover>.vipadashka-ul {
    display: block;
}


.spysok-action-five>.titles-five P {
    background-color: #e4e4ec;
    position: relative;
}

.spysok-action-five>.titles-five P::after {
    content: url("images/arrow-spysok.png");
    right: 15px;
    position: absolute;
}

.spysok-action-five>.titles-five:hover>P::after {
    rotate: 90deg;
    filter: brightness(100);
}

.spysok-action-five:hover>.titles-five P {
    background-color: #fd8300;
    color: #fff;
}

.spysok-action-five .titles-five>.vipadashka-ul>li {
    list-style: none;
    padding: 20px 0px 20px 30px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
}

.spysok-action-five .titles-five>.vipadashka-ul>li:hover {
    background-color: #b9b9c6;
}


.titles-five {
    background-color: #e4e4ec;
    list-style: none;
    border-bottom: 1px solid #cecedd;
}

.titles-five p {
    padding: 20px 0px 20px 15px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #3a3a3a;
}

/* 5end */

/* 6start */
.spysok-action-six .titles-six>.vipadashka-ul {
    display: none;
}

.spysok-action-six .titles-six:hover>.vipadashka-ul {
    display: block;
}



.spysok-action-six>.titles-six P {
    background-color: #e4e4ec;
    position: relative;
}

.spysok-action-six>.titles-six P::after {
    content: url("images/arrow-spysok.png");
    right: 15px;
    position: absolute;
}

.spysok-action-six>.titles-six:hover>P::after {
    rotate: 90deg;
    filter: brightness(100);
    
}

.spysok-action-six:hover>.titles-six P {
    background-color: #fd8300;
    border-radius: 0px 0px 0px 0px;
    color: #fff;
}

.spysok-action-six .titles-six>.vipadashka-ul>li {
    list-style: none;
    padding: 20px 0px 20px 30px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
    /* border-radius: 0px 0px 3px 3px; */
}

.spysok-action-six .titles-six>.vipadashka-ul>li:hover {
    background-color: #b9b9c6;
    
}

.spysok-action-six .titles-six:hover>.vipadashka-ul>li:last-child{
    border-radius: 0px 0px 3px 3px;
}

.titles-six {
    background-color: #e4e4ec;
    list-style: none;
    /* border-radius: 0px 0px 3px 3px; */
    border-radius: 0px 0px 9px 9px;
}

.titles-six p {
    padding: 20px 0px 20px 15px;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #3a3a3a;
    border-radius: 0px 0px 3px 3px;
}

/* 6end */


.footer {
    background-color: #ededf5;
}

.footer_menu {
    padding: 42px 0px;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu .contacts {
    display: flex;
}

.footer_menu .contacts a {
    display: flex;
    justify-content: space-around;
}

.footer_fast_menu {
    padding-top: 25px;
    width: 8%;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
    padding-bottom: 30px;
}

.footer_fast_menu li {
    list-style: none;
}

.footer_fast_menu li a {
    color: #666666;
    text-decoration: none;
}

.footer_fast_menu li a:hover {
    text-decoration: underline;
    color: #fd8300;
}


.footer_cop {
    background-color: #dcdce6;
}

.footer_cop p {
    padding: 17px 0px;
    font-size: 13px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.main_golovne {
    width: 75%;
}
.footer_fast_menu {
    padding-top: 0;
    padding-bottom: 0;
}