@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-ExtraBold.eot');
    src: url('RobotoSlab-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-ExtraBold.woff2') format('woff2'),
        url('RobotoSlab-ExtraBold.woff') format('woff'),
        url('RobotoSlab-ExtraBold.ttf') format('truetype'),
        url('RobotoSlab-ExtraBold.svg#RobotoSlab-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.eot');
    src: url('RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-Bold.woff2') format('woff2'),
        url('RobotoSlab-Bold.woff') format('woff'),
        url('RobotoSlab-Bold.ttf') format('truetype'),
        url('RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

